<header>
	<div class="justify-center items-center w-full flex md:w-auto md:order-1 bg-[#28592B]">
	  <img class="pt-4 md:max-w-[10%] max-w-[20%]" src="/assets/Logo_Ecotrics.svg" alt="logo">
	</div>
	<!-- Navbar goes here -->
	  <nav class="bg-[#28592B] shadow-lg">
      <div class="md:w-1/2 w-full m-auto flex justify-center gap-2 text-center">
        <a routerLink="" class="py-4 px-2 text-white font-semibold uppercase flex-1">{{ header_first }}</a>
        <a routerLink="game" class="py-4 px-2 text-white font-semibold uppercase flex-1">{{ header_second }}</a>
        <a routerLink="tips" class="py-4 px-2 text-white font-semibold uppercase flex-1">{{ header_third }}</a>
      </div>
	  </nav>
</header>
