<header>
	<div class="justify-center items-center w-full flex md:w-auto md:order-1 bg-[#28592B]">
	  <img class="pt-4 md:max-w-[10%] max-w-[20%]" src="/assets/Logo_Ecotrics.svg" alt="logo">
	</div>
	<!-- Navbar goes here -->
	  <nav class="bg-[#28592B] shadow-lg">
		  <div class="mx-auto px-4 w-full">
			  <div class="flex justify-evenly w-full">
				  <div class="flex space-x-7 justify-evenly w-full md:w-1/2">
					  <!-- Primary Navbar items -->
					  <div class="flex text-2xl w-full justify-evenly">
						  <a href="" class="py-4 px-2 text-white font-semibold uppercase">{{ header_first }}</a>
						  <a href="" class="py-4 px-2 text-white font-semibold uppercase">{{ header_second }}</a>
						  <a href="" class="py-4 px-2 text-white font-semibold uppercase">{{ header_third }}</a>
					  </div>
				  </div>
			  </div>
		  </div>

	  </nav>
</header>