<footer class="bg-primary text-center lg:text-left w-full">
  <div class="p-6 text-white w-full m-0">
    <div class="grid lg:grid-cols-2 md:gap-4 w-fu4">
      <div class="mb-2 md:mb-0">
        <h5 class="font-medium mb-2 uppercase">{{ footer_info }}</h5>
        <h5 class="font-medium mb-2 uppercase">{{ footer_contact }}</h5>
      </div>

      <div class="mb-2 md:mb-0 md:text-right">
        <h5 class="font-medium mb-2 uppercase">{{ footer_src }}</h5>
        <h5 class="font-medium mb-2 uppercase">{{ footer_partenaire }}</h5>
      </div>
    </div>
  </div>

  <div
    class="text-center text-white p-4"
    style="background-color: rgba(0, 0, 0, 0.2)"
  >
    © 2022 Copyright
  </div>
</footer>
