<div class="grid grid-cols-[7fr_3fr] grid-rows-[5fr_5fr] m-20 gap-20 ">
  <div class="rounded-lg col-start-1 col-end-2 bg-red-200 h-96 bg-back-game bg-cover bg-center" (click)="startGame()" style="cursor: pointer;">
    <section class="mx-auto mt-40">
      <b class="mx-auto text-play" style="font-family: 'Calibri Light'; vertical-align: bottom; color: green; font-size: xx-large" >À quel point es-tu éco ?</b>
    </section>
    <section class="mx-auto mb-20">
      <b class="mx-auto"><img src="assets/logo-play.png"></b>
    </section>
  </div>

  <div class="rounded-lg row-[1/-1] col-start-2 col-end-3">
    <div class="h-16 flex justify-center">
      <img src="assets/icons8-twitter.svg">
    </div>
    <div class="h-auto mx-5 mb-5 rounded-lg h-full ">
      <ngx-twitter-timeline
        [source]="{sourceType: 'profile', screenName: 'WWFFrance'}"
        [options]="{height: '750'}" (onLoad)="onLoad($event)">
      </ngx-twitter-timeline>
    </div>
  </div>

  <div class="rounded-lg bg-red-200 col-start-1">
  </div>
</div>

