<div class="grid grid-cols-10 grid-rows-4 m-20 gap-20 ">
  <div class="rounded-lg col-span-7 row-span-2" (click)="startGame()" style="background-color: wheat; cursor:pointer ">
    <section>
      <b style="font-family: 'Calibri Light'; color: green; font-size: xx-large" >À quel point es-tu éco ?</b>
    </section>
  </div>
  <div class="row-span-4 rounded-lg col-span-3 text-justify " style="background-color: green " >
    <div style="height: 100%; margin: 10px; background-color: aliceblue; border-radius: 10px;">
      <p></p>
    </div>
  </div>
  <div class="rounded-lg col-span-7 row-span-2" style="background-color: green ">
    <section>
      <p>Tips</p>
    </section>
  </div>
</div>

